.container {
  display: flex;
}

.Title {
  margin: 20px;
  font-size: 32px;
  letter-spacing: -0.06em;
}

.SideLine {
  transform: rotate(270deg);
  font-style: normal;
  font-weight: 200;
  font-size: 24px;
  line-height: 29px;
  position: absolute;
  top: 190px;
  right: -90px;
}

.RefsWrapper {
  position: absolute;
  width: 100px;
  display: flex;
  justify-content: space-between;
  bottom: 40px;
  left: 50px;
  z-index: 200;
}

.RefImg:hover {
  color: rgb(0, 89, 255);
}

.NameAsImg {
  position: absolute;
  bottom: 20px;
  right: 0px;
  scale: 0.8;
}

/*///////////////////////////////*/

.testcontainer {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 96.5%;
  height: 90%;
  overflow: hidden;
  bottom: 20px;
  z-index: 100;
}

.testbubbles {
  position: relative;
  display: flex;
}

.testbubbles span {
  position: relative;
  width: 15px;
  height: 15px;
  background-color: rgba(255, 115, 0, 0.945);
  margin: 0 8px;
  border-radius: 50%;
  box-shadow: 0 0 0 10px rgb(236, 108, 3), 0 0 50px rgb(184, 166, 8),
    0 0 100 orange;
  animation: animate 15s linear infinite;
}

.testbubbles span:nth-child(even) {
  background-color: rgba(245, 69, 0, 0.884);
  box-shadow: 0 0 0 10px rgb(255, 170, 100), 0 0 50px rgb(252, 186, 7),
    0 0 100 rgb(255, 252, 70);
}

@keyframes animate {
  0% {
    transform: translateY(100vh) scale(1);
  }

  100% {
    transform: translateY(-10vh) scale(0.4);
  }
}

.testbubbles span:nth-child(1) {
  animation-duration: 8s;
  scale: 0.5;
}
.testbubbles span:nth-child(2) {
  scale: 0.6;
  animation-duration: 12s;
}
.testbubbles span:nth-child(3) {
  scale: 0.2;
  animation-duration: 14s;
}
.testbubbles span:nth-child(4) {
  scale: 0.1;
  animation-duration: 16s;
}
.testbubbles span:nth-child(5) {
  scale: 0.7;
  animation-duration: 14s;
}
.testbubbles span:nth-child(6) {
  scale: 0.9;
  animation-duration: 20s;
}
.testbubbles span:nth-child(7) {
  scale: 0.88;
  animation-duration: 13s;
}
.testbubbles span:nth-child(8) {
  animation-duration: 21s;
  scale: 0.52;
}
.testbubbles span:nth-child(9) {
  scale: 0.4;
  animation-duration: 19s;
}
.testbubbles span:nth-child(10) {
  animation-duration: 20s;
  scale: 0.32;
}
.testbubbles span:nth-child(11) {
  animation-duration: 22s;
  scale: 0.26;
}
.testbubbles span:nth-child(12) {
  animation-duration: 25s;
  scale: 0.43;
}
.testbubbles span:nth-child(13) {
  animation-duration: 18s;
  scale: 0.62;
}
.testbubbles span:nth-child(14) {
  animation-duration: 21s;
  scale: 0.73;
}
.testbubbles span:nth-child(15) {
  animation-duration: 15s;
  scale: 0.12;
}
.testbubbles span:nth-child(16) {
  animation-duration: 13s;
  scale: 0.33;
}
.testbubbles span:nth-child(17) {
  animation-duration: 12s;
  scale: 0.54;
}
.testbubbles span:nth-child(18) {
  animation-duration: 17s;
  scale: 0.3;
}
.testbubbles span:nth-child(19) {
  animation-duration: 8s;
  scale: 0.28;
}
.testbubbles span:nth-child(20) {
  animation-duration: 13s;
  scale: 0.6;
}
.testbubbles span:nth-child(21) {
  animation-duration: 17s;
  scale: 0.31;
}
.testbubbles span:nth-child(22) {
  animation-duration: 9s;
  scale: 0.63;
}
.testbubbles span:nth-child(23) {
  animation-duration: 12s;
  scale: 0.63;
}
.testbubbles span:nth-child(24) {
  animation-duration: 6s;
  scale: 0.23;
}
.testbubbles span:nth-child(25) {
  animation-duration: 17s;
  scale: 0.13;
}

.testAshes {
  position: absolute;
  left: 600px;
  z-index: 1;
}

.ashes {
  position: absolute;

  width: 28vw;
  height: 56vh;
  top: 29.5vh;
  left: 38vw;
  z-index: 80;
}
